{% extends 'shop/main.html' %}
{% load static %}



{% block body_block %}
<main class="mt-5 pt-5">
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Order Summary</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"> <strong>Title</strong></th>
                        <th scope="col"><strong>Price</strong></th>
                        <th scope="col"><strong>Quantity</strong></th>
                        <th scope="col"><strong>Total Price</strong> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr>
                        <th> <a href="{{ order_item.item.get_absolute_url }}"><img src="{{ order_item.item.imageURL }}"
                                    width="80px" alt="" /></a>
                        </th>
                        <th scope="row">{{ order_item.item.title }} </th>
                        {% if order_item.item.discount_price %}
                        <td scope="row">{{ order_item.item.discount_price }}</td>
                        {% else %}
                        <td scope="row">{{ order_item.item.price }}</td>
                        {% endif %}
                        <td scope="row">
                            <a href="{% url 'shop:remove_single_item_from_cart' order_item.item.slug %}"><i
                                    class="fas fa-minus mr-2"></i></a>
                            {{ order_item.quantity}}
                            <a href="{% url 'shop:add_to_cart' order_item.item.slug %}"><i
                                    class="fas fa-plus ml-2"></i></a>
                        </td>
                        {% if order_item.item.discount_price %}
                        <td scope="row">
                            {{ order_item.get_total_discount_item_price }}
                            <span class="badge badge-primary">
                                saving ksh{{ order_item.get_amaount_saved }}
                            </span>


                        </td>
                        {% else %}
                        <td scope="row">
                            {{ order_item.get_total_item_price }}
                        </td>
                        {% endif %}
                        <td scope="row">
                            <a href="{{ order_item.item.remove_from_cart_url }}" style="color:red">
                                <i class="fas fa-trash float-right"></i>
                            </a>
                        </td>
                    </tr>

                    {% empty %}
                    <tr>
                        <td colspan="5"> Your Cart Is Empty</td>
                        <td colspan="4">
                            <a href="/" class="btn btn-warning float-left"> Continue Shopping </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if object.get_total %}
                    <tr>
                        <td colspan="4">
                            <h5><b>Order Total</b></h5>
                        </td>
                        <td><b>ksh{{ object.get_total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <a href="/" class="btn btn-warning float-left"> Continue Shopping</a>
                            <a href="{% url 'shop:checkout-page' %}" class="btn btn-success float-left ml-2"> Proceed to
                                CheckOut</a>
                        </td>

                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}